<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "/www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="/www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>资产下线信息<</title>
#tagLibs()
</head>
<body>
<div class="topline">
	<a href="${ctx}/select/findDProgram.do" class="wxbtn">资产列表</a> | 
    <a href="#" class="xzbtn" style="color:#FFFFFF">资产下线</a>
</div>
<form id="form1" name="form1" action="" method="post">
  <table width="98%"  border="0" align="center" cellpadding="2" cellspacing="2" id="needset" style="border:1px solid #cfcfcf;background:#ffffff;">
    <tr>
      <td colspan="2">
				<legend>资产信息</legend>
					<table width="98%" class="pn-ftable" cellpadding="2" cellspacing="1" border="0">
						<tr>
							<td width="15%" class="pn-flabel pn-flabel-h">资产ID：</td>
							<td class="pn-fcontent">
								<input type="hidden" id="assetId" name="assetId" value="$!{dp.assetId}"/>
								$!{dp.assetId}
							</td>
						</tr>
						<tr>
							<td width="15%" class="pn-flabel pn-flabel-h">资产名称：</td>
							<td class="pn-fcontent">
								<input type="hidden" id="id" name="id" value="$!{dp.id}"/>
								$!{dp.name}
							</td>
						</tr>
						<tr>
							<td width="15%" class="pn-flabel pn-flabel-h">下线原因：</td>
							<td class="pn-fcontent">
								<textarea id="msg" name="msg" rows="7" cols="60"></textarea>
								<em class="required">*</em>
							</td>
						</tr>
					</table>
		</td>
    </tr>
   <tr>
    <td width="17%">&nbsp;</td>
    <td width="83%">
		<button type="button" id="saveTariff" class="bt-primary">保存</button>
		<button type="button" onClick="history.go(-1);" class="bt-secondary">返回</button>
    </td>
   </tr>
</table>
</form>
	<script type="text/javascript" src="${ctx}/js/jquery/validate/jquery.validate.min.js"></script>
	<script type="text/javascript" src="${ctx}/js/jquery/validate/validate-tip.js"></script>
	<script type="text/javascript" src="${ctx}/js/ott/select/closeProgram.js"></script>
</body>
</html>
