<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "/www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="/www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>资产推荐信息<</title>
#tagLibs()
</head>
<body >
<div class="topline">
	<a href="${ctx}/recommend/toRecommendPst.do?dramaId=$!{dr.dramaId}&dramaName=$!{dr.dramaName}" class="wxbtn">资产推荐列表</a> | 
    <a href="#" class="xzbtn" style="color:#FFFFFF" >修改资产推荐</a>
</div>
<form id="form1" name="form1" action="" method="post">
  <table width="98%"  border="0" align="center" cellpadding="2" cellspacing="2" id="needset" style="border:1px solid #cfcfcf;background:#ffffff;">
    <tr>
      <td colspan="2">
				<legend>资产推荐信息</legend>
					<table width="98%" class="pn-ftable" cellpadding="2" cellspacing="1" border="0">
						<tr>
							<td width="15%" class="pn-flabel pn-flabel-h">资产名称：</td>
							<td class="pn-fcontent">
							<input type="hidden" id="dramaId" name="dramaId" value="$!{dr.dramaId}"/>
							<input type="hidden" id="dramaName" name="dramaName" value="$!{dr.dramaName}"/>
								$!{dr.dramaName}
                            </td>
						</tr>
						<tr>
							<td width="15%" class="pn-flabel pn-flabel-h">推荐位：</td>
							<td class="pn-fcontent">
								#foreach($type in $!dpList)
									<input type="checkbox" id="$!{type.id}_$velocityCount" name="nodes" value="$!type.id"
										#if($!type.check=='true') checked="checked" #end/>
									<label for="$!{type.id}_$velocityCount">$!type.name</label>
									#if($velocityCount%7==0) </br>#end
								#end
								<input type="hidden" id="cList"  name="cList" />
								<input type="hidden" id="oldType"  name="oldType" value="$!{oldType}"/>
   								<em class="required">*</em>
                            </td>
						</tr>
						<tr>
							<td width="15%" class="pn-flabel pn-flabel-h">排序值：</td>
							<td class="pn-fcontent">
								<input type="text" id="sort"  name="sort" value="$!{dr.sort}" class="text-writer"/>
							</td>
						</tr>
					</table>
		</td>
    </tr>
   <tr>
    <td width="17%">&nbsp;</td>
    <td width="83%">
		<button type="button" id="saveDramaRec" class="bt-primary">保存</button>
		<button type="button" onClick="history.go(-1);" class="bt-secondary">返回</button>
    </td>
   </tr>
</table>
</form>
	<script type="text/javascript" src="${ctx}/js/jquery/validate/jquery.validate.min.js"></script>
	<script type="text/javascript" src="${ctx}/js/jquery/validate/validate-tip.js"></script>
	<script type="text/javascript" src="${ctx}/js/ott/select/dramaRecInfo.js"></script>
</body>
</html>
