<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "/www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="/www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>单点播节目管理</title>
#tagLibs()
</head>
<body>
<!--  快速转换位置按钮  --> 
<!--  内容列表   -->
<form id="queryForm" method="get">
<div class="topline">
	<a href="#" class="xzbtn" style="color:#FFFFFF">单点播节目列表</a> | 
    <a href="${ctx}/select/toSProgram.do" class="wxbtn">新增单点播节目</a>
</div>
 <table border='0' cellpadding='0' cellspacing='0' height="36">
    <tr class="search">
        <td>节目名称：<input type='text' id="name" name='name' value='$!{sp.name}' style="width:180px;"/></td>
        <td>所属类型：
			<select id="ptype" name="ptype" style="width:140px;">
				<option value="">=请选择=</option>
				#foreach($ptype in $ptypes)
				<option value="${ptype.dicValue}" #if (${ptype.dicValue} == $!{sp.ptype}) selected #end>${ptype.dicName}</option>
				#end
            </select>
		</td>
		<td>
			<input type="hidden" id="orderColumn" name="orderColumn" value="$!{sp.orderColumn}" />
            <img id="queryProgram" type="image" src="${ctx}/images/button_search.gif"/>
        </td>
	</tr>
</table>
<table id="list-table" width="100%" border="0" cellpadding='0' cellspacing='0' style="margin-top:10px;">
<tr align="left" bgcolor="#eff2f7" height="30">
    <td width="20%"><a href="javascript:void(0);" onclick="orderBy(this);" name="name" lastOrderBy="$!{sp.orderColumn}" class="tb_head">节目名称</a></td>
    <td width="15%"><a href="javascript:void(0);" onclick="orderBy(this);" name="ptype" lastOrderBy="$!{sp.orderColumn}" class="tb_head">节目类型</a></td>
    <td width="15%"><a href="javascript:void(0);" onclick="orderBy(this);" name="ttype" lastOrderBy="$!{sp.orderColumn}" class="tb_head">类型分类</a></td>
    <td width="10%"><a href="javascript:void(0);" onclick="orderBy(this);" name="timeLongth" lastOrderBy="$!{sp.orderColumn}" class="tb_head">播放时长</a></td>
	<td width="20%"><a href="javascript:void(0);" onclick="orderBy(this);" name="createTime" lastOrderBy="$!{sp.orderColumn}" class="tb_head">录入时间</a></td>
	<td width="10%"><a href="javascript:void(0);" onclick="orderBy(this);" name="price" lastOrderBy="$!{sp.orderColumn}" class="tb_head">价格</a></td>
	<td width="10%">操作</td>
</tr>

#if ($null.isNull($list) || $list.size()==0)
	<tr align='left' height="30" onMouseMove="javascript:this.bgColor='#FFFFEE';" onMouseOut="javascript:this.bgColor='';">
	 <td colspan="7"><h1>暂无相关数据内容</h1></td>
    </tr>
#end
#foreach ($bprogram in $list)
<tr align='left' height="30" onMouseMove="javascript:this.bgColor='#FFFFEE';" onMouseOut="javascript:this.bgColor='';">
     <td >$!{bprogram.name}</td>
     <td >
         #foreach($ptype in $ptypes)
             #if($!{bprogram.ptype} == $ptype.dicValue)
    			$ptype.dicName
             #end
    	 #end
     </td>
     <td >$!{bprogram.getTTypeName()}</td>
     <td >$!{bprogram.timeLongth}</td>
	 <td >$!{bprogram.createTime}</td>
     <td >$!{bprogram.price}</td>
	 <td >
     	<a href="${ctx}/select/toSProgram.do?id=$!{bprogram.id}">编辑</a>
		#if($!{bprogram.status}=='1')
			<a href="javascript:updateSPStatus(this,'$!{bprogram.id}','$!{bprogram.status}');">停用</a>
		#else
			<a href="javascript:updateSPStatus(this,'$!{bprogram.id}','$!{bprogram.status}');">启用</a>
		#end
     </td>
</tr>
#end
</table>
<div height="36" align="right">
    #pagination(${sp})
</div>
</form>
<script type="text/javascript" src="${ctx}/js/ott/select/listSProgram.js"></script>
</body>
</html>
