<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "/www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="/www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>资产推荐信息<</title>
#tagLibs()
<link type="text/css" rel="stylesheet" href="${ctx}/css/pagination.css"/>
	<script type="text/javascript" src="${ctx}/js/jquery/jquery.pagination.js"></script>
</head>
<body >
<div class="topline">
	<a href="${ctx}/recommend/findRecommendPst.do?prType=$!{rp.prType}" class="wxbtn">推荐资产列表</a> | 
    <a href="#" class="xzbtn" style="color:#FFFFFF" >增加推荐资产</a>
</div>
#positionTestList()
<form id="form1" name="form1" action="" method="post">
  <table width="98%"  border="0" align="center" cellpadding="2" cellspacing="2" id="needset" style="border:1px solid #cfcfcf;background:#ffffff;">
    <tr>
      <td colspan="2">
				<legend>资产推荐信息</legend>
					<table width="98%" class="pn-ftable" cellpadding="1" cellspacing="1" border="0">
						<tr>
							<input type="hidden" id="id" name="id" value=""/>
							<input type="hidden" id="prType" name="prType" value="$!{rp.prType}"/>
							<td width="15%" class="pn-flabel pn-flabel-h">请选择：</td>
							<td class="pn-fcontent" colspan="3">
                                <button type="button" id="addPosition"> 拉取资产信息</button>
							</td>
						</tr>
						<tbody id="macTb"></tbody>
					</table>
		</td>
    </tr>
   <tr>
    <td width="17%">&nbsp;</td>
    <td width="83%">
		<button type="button" id="saveSource" class="bt-primary">保存</button>
		<button type="button" onClick="history.go(-1);" class="bt-secondary">返回</button>
    </td>
   </tr>
</table>
</form>
	<script type="text/javascript" src="${ctx}/js/jquery/validate/jquery.validate.min.js"></script>
	<script type="text/javascript" src="${ctx}/js/jquery/validate/validate-tip.js"></script>
	<script type="text/javascript" src="${ctx}/js/ott/select/zjPositionInfo.js"></script>
</body>
</html>
