<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>密码修改 </title>
<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
<meta http-equiv="description" content="this is my page">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
#tagLibs()
<script type="text/javascript">
$(function() {
	var validator = $("#fom").validate({
		onsubmit : false,
		rules : {
			'pwd' : {
				required : true,
				remote: {
			 		url: window.ctx+'/user/checkPwdIsRight.do',
					async: false,// 非异步
			 		data: {
			 			'oldpwd': function(){
			 				return hex_md5($('#pwd').val());
			 			}
			 		}
				 }
			},
			'newpwd' : {
				required : true
			},
			'newpwd2' : {
				required : true,
				equalTo:"#newpwd"
			}
		},
		messages : {
			'pwd' : {
				required: "密码不能为空!",
				remote: "密码不正确！"
			},
			'newpwd' : {
				required : "密码不能为空!"
			},
			'newpwd2' : {
				required : "密码不能为空!",
				equalTo:"两次输入密码不一致！"
			}
		},
		errorPlacement : $.handleError,
		success : $.handleSuccess,
		invalidHandler : $.invalidAlertHandler
	});
	
	$('#SavePwd').click(function(e) {
		if(validator.form()){
    		var url = window.ctx + '/user/editPwd.do';
			var pass = $('#newpwd').val();
			pass = hex_md5(pass);
    		
    		$.post(url, { newpwd: pass }, function(feedback) {
    			alert(feedback.message);
    			$('#newpwd').val("");
    			$('#newpwd2').val("");
    		});
		}
		
	});
});
</script>
</head>

<body>
    <form method="post"  name="fom" id="fom">
        <table width="98%" class="pn-ftable" cellpadding="2" cellspacing="1" border="0">
        	<tr>
        		<td width="25%" class="pn-flabel pn-flabel-h">请输入旧密码：</td>
        		<td class="pn-fcontent">
                    <input type="password" name="pwd" id="pwd" />
        			<em class="required">*</em><em id="warn" class="required"></em>
        		</td>
        	</tr>
        	<tr>
        		<td width="25%" class="pn-flabel pn-flabel-h">请输入新密码：</td>
        		<td class="pn-fcontent">
        			<input type="password"  name="newpwd" id="newpwd"/>
        			<em class="required">*</em>
        		</td>
        	</tr>
        	<tr>
        		<td width="25%" class="pn-flabel pn-flabel-h">请再次输入新密码：</td>
        		<td class="pn-fcontent">
        			<input type="password" name="newpwd2" id="newpwd2"/>
        			<em class="required">*</em><em id="warns" class="required"></em>
        		</td>
        	</tr>
        	<tr>
                <td width="25%" class="pn-fcontent">&nbsp;</td>
                <td class="pn-fcontent">
            		<button type="button" id="SavePwd" class="bt-primary">保存</button>
            		<button type="button" onclick="window.close();" class="bt-secondary">关闭</button>
                </td>
        	</tr>
        </table>
    </form>
	<script type="text/javascript" src="${ctx}/js/jquery/validate/jquery.validate.min.js"></script>
	<script type="text/javascript" src="${ctx}/js/jquery/validate/validate-tip.js"></script>
	<script language="javascript" src="${ctx}/js/ott/md5.js"></script>
</body>
</html>
