<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>资源列表</title>
#tagLibs()
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>
<div class="topline">
	<a href="#" class="xzbtn" style="color:#FFFFFF">资源列表</a> | 
    <a href="${ctx}/resour/toResour.do" class="wxbtn">新增资源</a>
</div>
	<form name="form2" action="" id="queryForm" method="get">
		<table border='0' cellpadding='0' cellspacing='0' style="margin-top:13px;">
			<tr class="search">
					<td>资源名称：<input type='text' name='name' value='$!{res.name}'/></td>
					<td><input id="imageField" name="imageField" type="image" src="${ctx}/images/button_search.gif"/></td>
			</tr>
		</table>
		<!--  内容列表   -->
		<table id="list-table" width="100%" border="0" cellpadding='0' cellspacing='0' style="margin-top:10px;">
			<tr align="left" bgcolor="#eff2f7" height="30">
				<td width="15%">资源名称</td>
				<td width="15%">资源编码</td>
				<td width="12%">所属系统</td>
				<td width="12%">上级资源</td>
				<td width="10%">资源类型</td>
				<td width="25%">链接</td>
				<td width="5%">状态</td>
				<!-- <td width="5%">排序</td> -->
				<td width="13%" colspan="2">操作</td>
			</tr>
			#if ($null.isNull($pml.pagedModelList) || $pml.pagedModelList.size()==0)
            	<tr align='left' height="30" onMouseMove="javascript:this.bgColor='#FFFFEE';" onMouseOut="javascript:this.bgColor='';">
					<td colspan="8"><h1>暂无相关数据内容</h1></td>
                </tr>
            #end
			#foreach ($role in $pml.pagedModelList)
			<tr align='left' height="30" onMouseMove="javascript:this.bgColor='#FFFFEE';" onMouseOut="javascript:this.bgColor='';">
				<td>$!{role.name}</td>
				<td>$!{role.enname}</td>
				<td>$!{role.systemName}</td>
				<td>$!{role.parnetName}</td>
				<td>$!{role.resourcetype}</td>
				<td>$!{role.link}</td>
				<td>#if($!{role.status} == '1') 启用  #elseif ($!{role.status} == '2')隐藏 #elseif ($!{role.status} == '3')冻结  #else 弃用 #end </td>
				<td colspan="2">
					<a href="${ctx}/resour/toResour.do?oid=$!{role.id}">编辑</a> |
					<a href="${ctx}/resour/toViewResour.do?oid=$!{role.id}">查看</a>
				</td>
			</tr>
			#end
		</table>
		<div height="36" align="right">
        		#rendPageInfo(${pml})
        </div>
	</form>
	<script language="javascript" src="${ctx}/js/ott/shiro/listResour.js"></script>
</body>
</html>
